* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none; 
}

html,
body {
  background-color: #000;
  height: 100%;
  margin: 0;
  padding: 0;
}

#moon {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  margin-top: -300px;
  margin-left: -300px;
  opacity: 0;
}
